.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
}

.bulb {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 2px solid #aaa;
  background: hsl(0, 7%, 68%);
  box-shadow: 0 0 10px #888;
  transition: background 0.3s;
}

.bulb.on {
  background: yellow;
  box-shadow: 0 0 30px yellow;
}

.bulb.off {
  background: #474745;
  box-shadow: 0 0 10px #888;
}

button {
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
}