body {
  font-family: "Poppins", sans-serif;
  margin: 5px 50px 0 50px;
  background-color: #e5b526;
  display: flex;
  flex-direction: column;
  min-height: 9h;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: rgb(176, 176, 203);
}



@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
