*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}
body.on{
    background: radial-gradient(#555, #111);
}
.wire{
    position: absolute;
    left:calc(50% - 2px);
    bottom:50%;
    height:60vh; 
    width: 4px;
    background: #000;
    z-index: 1;
}
.bulb{
    position: relative;
    z-index: 2;
    width: 80px;
    height: 80px;
    background: transparent;
}
.bulb i{
    font-size: 4rem;
    color: #444;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.switch{
    position: absolute;
    top: 40px;
    right: 100px;
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(239, 232, 232) 0px 10px 15px -5px;
    cursor: pointer;
}
.switch:active{
    box-shadow: none;
}
.switch i{
    font-size: 1.5rem;
    color: #580808;
}
.on .bulb i{
    color: #ff0;
    text-shadow: 0 0 20px #ff0, 0 0 40px #ff0, 0 0 60px #ff0, 0 0 80px #ff0;
    animation: glow 1.5s ease-in-out infinite;
}
.on .switch i{
    color: rgb(129, 231, 70);
}
